
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';
@import 'login';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Login page
@import 'login';

// iziToast
@import "~izitoast/dist/css/iziToast.min.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.form-group.required label:after {
  content: " *";
  color: red;
}

span.required {
  color: red;
}
